[Unit]
Description=DIVX's distributed currency daemon
After=network.target

[Service]
User=divx
Group=divx

Type=forking
PIDFile=/var/lib/divxd/divxd.pid

ExecStart=/usr/bin/divxd -daemon -pid=/var/lib/divxd/divxd.pid \
          -conf=/etc/divx/divx.conf -datadir=/var/lib/divxd

ExecStop=-/usr/bin/divx-cli -conf=/etc/divx/divx.conf \
         -datadir=/var/lib/divxd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
