[Desktop Entry]
Encoding=UTF-8
Name=PIVX
Comment=PIVX P2P Cryptocurrency
Comment[fr]=PIVX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PIVX, eşten eşe kriptografik sanal para birimi
Exec=pivx-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
